<div style="height:100px"></div>
<div align="center">
<h1 style="font-size: 50px;">Jeopardy</h1>
<h3>Pick a team name</h3>

<%= form_tag("/game/play", method: "post") do%>
	Team Name:
	<input type="text" name="teamname" />
	<input type="submit" value="Continue" />
<% end %>
</div>