<div style="height:100px"></div>
<div align="center">
<h1 style="font-size: 50px;">Jeopardy</h1>
<h3>Enter your team name</h3>

<%= form_tag("/game/newteam", method: "post") do%>
	Team Name:
	<%= text_field_tag :teamname %>
	<%= submit_tag "Continue" %>
<% end %>
</div>